<div class="container-fluid">
  <div class="row justify-content-left" style="background-color:rgb(9, 99, 173);">
    <div class="col-1">
        <img src="https://static.vecteezy.com/system/resources/thumbnails/014/179/207/small/classic-3d-television-icons-perfect-to-use-as-an-additional-element-in-your-poster-banner-and-template-designs-png.png" alt="logo" width="50" height="50">
      </div>
    <div class="col-11">
      <h1>TV Series</h1>
    </div>    
  </div>

  <div class="row">
    <app-series></app-series>
  </div>

</div>